h1, h2, p {
  font-family: 'Droid Sans', sans-serif;
}

.center {
  margin: 0px auto;
  width: 50%;
}

img#gplay {
  border: 0px;
  box-shadow: none;
  height: 60px;
  margin: 0px;
  max-height: 60px;
  max-width: 172px;
  padding: 0px;
  width: 172px;
}

img#logo {
  border: 0px;
  box-shadow: none;
  height: 64px;
  margin: 0px;
  max-height: 64px;
  max-width: 64px;
  padding: 0px;
  padding-right: 5px;
  position: relative;
  top: 20px;
  width: 64px;
}

