<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />

    <link type="text/css" rel="stylesheet" href="css/slate.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans" media="all" />
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" media="all" />

    <title>{{ page.title }} - RingyDingyDingy</title>
  </head>
  <body>
    <div class="outer" id="header_wrap">
        <header class="inner">
            <a href="https://github.com/dririan/ringydingydingy" id="forkme_banner">Fork me on GitHub</a>

            <h1 id="project_title"><img id="logo" src="images/logo.png" /> RingyDingyDingy: {{ page.title }}</h1>
            <h2 id="project_tagline">Lightweight remote ring and lock app for Android</h2>
        </header>
    </div>

    <div class="outer" id="main_content_wrap">
        <section id="main_content" class="inner">
            {{ content }}
            <br />
            <div class="center">
                <a href="https://play.google.com/store/apps/details?id=com.dririan.RingyDingyDingy"><img id="gplay" src="http://www.android.com/images/brand/android_app_on_play_large.png" /></a>
            </div>
        </section>
    </div>

    <div class="outer" id="footer_wrap">
        <footer class="inner">
            <p>RingyDingyDingy is free and open-source software licensed under the <a href="https://www.gnu.org/licenses/gpl.html">GNU GPLv3</a> |
               The content of this page, as well as the RingyDingyDingy logo, are licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> license |
               Hosted with <a href="http://pages.github.com">GitHub Pages</a></p>
        </footer>
    </div>
  </body>
</html>

